<app-header></app-header>
<div class="main-content">
  <section id='section_1' class="">
    <div class="container-fluid vh-100 bg-brown pt-7 px-5">
      <div class="row pt-2 mt-1">
        <div class="col-6 d-flex">
          <div class="card hover-shadow-lg flex-fill">
            <div class="card-body d-flex align-items-center justify-content-center py-6">
              <!-- <div class="countdown countdown-hero text-center col-8 pb-2" data-countdown-date="12/12/2020">
                <div class="countdown-item"><span class="countdown-digit">46</span><span
                    class="countdown-label countdown-days">days</span></div>
                <div class="countdown-item"><span class="countdown-digit">10</span><span
                    class="countdown-separator">:</span><span class="countdown-label">hours</span></div>
                <div class="countdown-item"><span class="countdown-digit">47</span><span
                    class="countdown-separator">:</span><span class="countdown-label">minutes</span></div>
                <div class="countdown-item"><span class="countdown-digit">04</span><span
                    class="countdown-label">seconds</span></div>
              </div> -->
              <div class="col-8 pb-2 px-5">
                <div>
                  {{ bookingDocument[0].bookingPeriodStart | date:'dd MMM yyyy, hh:mm a' }}
                  <h4 class="text-primary font-weight-bold mb-4">Upcoming Room Registration</h4>
                  <span class="badge badge-soft-success badge-lg text-sm">
                    {{ bookingDocument[0]?.bookingPeriodStart | date:'dd MMM yyyy, hh:mm a' }}
                  </span>
                  <span class="mx-2"><i class="fas fa-angle-right"></i></span>
                  <span class="badge badge-soft-danger badge-lg text-sm">
                    {{ bookingDocument[0]?.bookingPeriodEnd | date:'dd MMM yyyy, hh:mm a' }}
                  </span>
                </div>
                <!-- <h2>{{ bookingDocument[0].bookingPeriodStart | date:'dd MMM yyyy, hh:mm a' }}</h2>
                <h2>{{ bookingDocument[0].bookingPeriodEnd | date:'dd MMM yyyy, hh:mm a' }}</h2> -->
              </div>
              <div class="col-4">
                <div class="align-self-center text-center">
                  <img alt="Image placeholder" src="../../assets/img/svg/illustrations/Time management-pana.svg"
                    class="svg-inject img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="card hover-shadow-lg flex-fill">
            <div class="card-body d-flex align-items-center justify-content-center py-4">
              <div class="col-9 px-5">
                <div class="card mb-0 shadow-none bg-secondary">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-borderless align-items-center text-primary">
                        <tbody>
                          <tr *ngFor="let m of bookingData | slice:0:3" class="text-center border-none">
                            <th scope="row">{{ m?.studentID }}</th>
                            <td>{{ m?.roomNumber }}</td>
                            <td>{{ m?.bed }}</td>
                            <td>{{ m?.status }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-3">
                <h5 class="card-title">Recent Booking Activities</h5>
                <button type="button" class="btn btn-animated btn-primary btn-sm btn-animated-x" [routerLink]="['/bookingManager']">
                  <span class="btn-inner--visible">View All</span>
                  <span class="btn-inner--hidden">
                      <i class="fas fa-arrow-right"></i>
                  </span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <div id="chart1">
                <apx-chart [series]="bookingRateChart.series" [chart]="bookingRateChart.chart"
                  [labels]="bookingRateChart.labels" [responsive]="bookingRateChart.responsive"></apx-chart>
              </div>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title mb-0">Current Booking Rate</h5>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <div id="chart2">
                <apx-chart [series]="semBookChart.series" [chart]="semBookChart.chart"
                [dataLabels]="semBookChart.dataLabels" [plotOptions]="semBookChart.plotOptions"
                [yaxis]="semBookChart.yaxis" [xaxis]="semBookChart.xaxis" [legend]="semBookChart.legend"
                [colors]="semBookChart.colors" [grid]="semBookChart.grid"></apx-chart>
              </div>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title mb-0">Booking Amount by Semester</h5>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <div id="chart3">
                <apx-chart [series]="villageOccupancyChart.series" [chart]="villageOccupancyChart.chart"
                  [dataLabels]="villageOccupancyChart.dataLabels" [plotOptions]="villageOccupancyChart.plotOptions"
                  [responsive]="villageOccupancyChart.responsive" [xaxis]="villageOccupancyChart.xaxis"
                  [legend]="villageOccupancyChart.legend" [fill]="villageOccupancyChart.fill"></apx-chart>
              </div>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title mb-0">Village Occupancy Percentage</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->