<app-header></app-header>
<div class="main-content">
  <section id='section_1' class="">
    <div class="container-fluid vh-100 bg-brown pt-7 px-5">
      <div class="row pt-2 mt-1">
        <div class="col-6 d-flex">
          <div class="card hover-shadow-lg flex-fill">
            <div class="card-body d-flex align-items-center justify-content-center py-6">
              <div class="countdown countdown-hero text-center col-8 pb-2" data-countdown-date="12/12/2020">
                <div class="countdown-item"><span class="countdown-digit">46</span><span
                    class="countdown-label countdown-days">days</span></div>
                <div class="countdown-item"><span class="countdown-digit">10</span><span
                    class="countdown-separator">:</span><span class="countdown-label">hours</span></div>
                <div class="countdown-item"><span class="countdown-digit">47</span><span
                    class="countdown-separator">:</span><span class="countdown-label">minutes</span></div>
                <div class="countdown-item"><span class="countdown-digit">04</span><span
                    class="countdown-label">seconds</span></div>
              </div>
              <div class="col-4">
                <h5 class="card-title">Upcoming Room Registration</h5>
                <p class="card-text pt-2">01 January 2021</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex">
          <div class="card hover-shadow-lg flex-fill">
            <div class="card-body d-flex align-items-center justify-content-center py-6">
              <div class="col-8">

              </div>
              <div class="col-4">
                <h5 class="card-title">Recent Booking Activities</h5>
                <button type="button" class="btn btn-animated btn-primary btn-sm btn-animated-x">
                  <span class="btn-inner--visible">View All</span>
                  <span class="btn-inner--hidden">
                      <i class="fas fa-arrow-right"></i>
                  </span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <div id="chart">
                <apx-chart [series]="bookingRateChart.series" [chart]="bookingRateChart.chart"
                  [labels]="bookingRateChart.labels" [responsive]="bookingRateChart.responsive"></apx-chart>
              </div>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title">Booking Rate</h5>
              <p class="card-text">Some quick example text....</p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <apx-chart [series]="semBookChart.series" [chart]="semBookChart.chart"
                [dataLabels]="semBookChart.dataLabels" [plotOptions]="semBookChart.plotOptions"
                [yaxis]="semBookChart.yaxis" [xaxis]="semBookChart.xaxis" [legend]="semBookChart.legend"
                [colors]="semBookChart.colors" [grid]="semBookChart.grid"></apx-chart>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title">Room Booked</h5>
              <p class="card-text">Some quick example text....</p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card hover-shadow-lg">
            <div class="card-body d-flex align-items-center justify-content-center my-3">
              <div id="chart">
                <apx-chart [series]="villageOccupancyChart.series" [chart]="villageOccupancyChart.chart"
                  [dataLabels]="villageOccupancyChart.dataLabels" [plotOptions]="villageOccupancyChart.plotOptions"
                  [responsive]="villageOccupancyChart.responsive" [xaxis]="villageOccupancyChart.xaxis"
                  [legend]="villageOccupancyChart.legend" [fill]="villageOccupancyChart.fill"></apx-chart>
              </div>
            </div>
            <div class="card-footer text-center">
              <h5 class="card-title">Village Occupancy Percentage</h5>
              <p class="card-text">Some quick example text....</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->